html, body {
	font: 16px Arial;
	padding:	15px;
	background-color: white;
        background-image: url("../img/gru3.jpg");

		/* border:	3px solid blue; */
}

@font-face{
font-family: 'MachineScript';
src: url('../fonts/MachineScript.ttf'),
         url('../fonts/minecraft.eot');
font-weight: normal;
font-style: normal;
}


.MachineScript-font {
    font-family: "MachineScript";  
       } 

#logo {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 float:left;
	 font-size: 40pt;
	 width: 320px;
	 height: 220px;
	 text-align:	center;
	/* border:	3px solid gray; */
}

#layout {
	 margin-top:20px;
	 position:relative;
	 text-align:center;
	 width:100% auto;
	 height:220px;
	 word-wrap: break-word;
	/* border:	3px solid black; */
	/* background:	url("http://www.cntweb.com.br/wp-content/uploads/2014/08/Outsource.jpg") */
	 background: white; /* For browsers that do not support gradients */
	 background: -webkit-linear-gradient(left top, white, #6f95d5); /* For Safari 5.1 to 6.0 */
	 background: -o-linear-gradient(bottom right, white, #6f95d5); /* For Opera 11.1 to 12.0 */
	 background: -moz-linear-gradient(bottom right, white, #6f95d5); /* For Firefox 3.6 to 15 */
	 background: linear-gradient(to bottom right, white, #6f95d5); /* Standard syntax */
	 border-radius: 30px;	 
	 box-shadow: 8px 8px 10px #aaa;
}

#divmd{
	 font-family:	MachineScript;
	 font-size:	80px;
	 position:relative;
	 color:	white;
	 padding-left:250px;
	 text-shadow: 5px 0 0 #000000;
	 width:77%;
	 height:120px;
	 margin-left: 180px;
	 text-align:	center;

}

#menu {
	 width:	100%;
	 height: 25%;
	 float:right;
	 padding-left:20%;
	 display: flex;
	 position:absolute;
	 align-items: center;
	 justify-content: center;

}

.textoazul { 
	 color: #6f95d5; 
}

.cent, h1{ 
	 text-align:center; 
}


/* MENU SIMPLAO */

#menu li
{
display:inline;
}

#menu li a
{
border-radius: 5px;
position:relative;
font-family:MachineScript;
font-size:20px;
float:	left;
text-decoration: none;
padding:10px;
background-color: #333333;
color:#ffffff;
border-bottom:5px;
border-bottom-color:#000000;
border-bottom-style: solid;
padding-right: 25px !important;
padding-left: 25px !important;
}

#menu li a:hover
{
background-color: #6f95d5;
padding-bottom:12px;
border-bottom:2px;
border-bottom-color:#000000;
border-bottom-style:solid;
}
/* MENU SIMPLAO */

img {
	border-radius: 5px;

}

#fehome1 {
	 margin-top:20px;
	 margin-left:20px;
	 text-align:center;
	 float:	left;
	 width:	100%;
	 position:	center;
	 height: 200px auto;
	 word-wrap: break-word;

	 /* border:	3px solid black; */
}


#imghome {
	 margin-top:20px;
	 width:auto;
	 margin-left: 10px;
	 border:1px solid #E0E0E0;
	 height:auto;

	 display: flex;
	 align-items: center;
	 justify-content: center;
     box-shadow: 8px 8px 10px #aaa;
	 /* border:	3px solid RED; */
}



#fo {
	 margin-top:20px;
	 text-align:center;
	 float:	right;
	 width:1280px;
	 height:600px;
	 position:relative;
	 word-wrap: break-word;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 opacity: 0.9;


}

#formobj {
	padding-left:	400px;
}

#formsobre {
	margin-top:100px;
	float:left;
	margin-left:-300px;
	border-right:500px;
	width:320px;
	height:500px;
	/* border:	3px solid blue; */
}

#fehome2 {
	 margin-top:20px;
	 float:	right;
	 text-align:center;
	 width:100%;
	 background: #649FBC;
	 height:350px;
	 word-wrap: break-word;
	 /* border:	3px solid blue; */
}

#box1 {
	margin-top:20px;
	float: left;
	text-align:center;
	width: auto;
	height: 50%;
	border:	3px solid RED; */
}

#box2 {
	margin-top:20px;
	text-align:center;
	float: right;
	width: 40%;
	height: 50%;
	border:	3px solid RED; */
}

#servfilter {
	margin-top:40px;
	margin-left:-310px;
	text-align:center;
	width: 20%;
	height: 240%;
	float:left;
	/* border:	3px solid green; */
}

#servbox {
	margin-top:40px;
	justify-content: center;
	text-align:center;
	float: right;
	width: 75%;
	height: 80%;
	/* border:	3px solid RED; */
}

footer {
	 float:	left;
	 text-align:	center;
	 opacity:	0.8;
     filter:	Alpha(opacity=60);
}

#company-name {
	 font-family:	MachineScript;
	 font-size:	30px;
	 color:	white;
	 text-shadow: 5px 0 0 #000000;
}

#success_message{ display: none;}








			